<table id="example2" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>No.</th>
      <th>Nama</th>
      <th>Aksi</th>
    </tr>
  </thead>
  <tbody>
    <% for(let i = 0; i < category.length; i++) { %>
    <tr>
      <td><%= i + 1 %></td>
      <td><%= category[i].name %></td>
      <td>
        <a href="/category/edit/<%= category[i]._id %>" class="btn btn-warning"
          ><i class="fa fa-edit"></i
        ></a>
        <a href="#" class="btn btn-danger"><i class="fa fa-trash"></i></a>
      </td>
    </tr>
    <% } %>
  </tbody>
</table>
